<?xml version="1.0" encoding="UTF-8"?>

<!--
    LICENSE AGREEMENT
    
    GRIDGAIN - OPEN CLOUD PLATFORM.
    COPYRIGHT (C) 2005-2008 GRIDGAIN SYSTEMS. ALL RIGHTS RESERVED.
    
    THIS IS FREE SOFTWARE; YOU CAN REDISTRIBUTE IT AND/OR
    MODIFY IT UNDER THE TERMS OF THE GNU LESSER GENERAL PUBLIC
    LICENSE AS PUBLISHED BY THE FREE SOFTWARE FOUNDATION; EITHER
    VERSION 2.1 OF THE LICENSE, OR (AT YOUR OPTION) ANY LATER 
    VERSION.
    
    THIS LIBRARY IS DISTRIBUTED IN THE HOPE THAT IT WILL BE USEFUL,
    BUT WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF
    MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.  SEE THE 
    GNU LESSER GENERAL PUBLIC LICENSE FOR MORE DETAILS.
    
    YOU SHOULD HAVE RECEIVED A COPY OF THE GNU LESSER GENERAL PUBLIC
    LICENSE ALONG WITH THIS LIBRARY; IF NOT, WRITE TO THE FREE 
    SOFTWARE FOUNDATION, INC., 51 FRANKLIN ST, FIFTH FLOOR, BOSTON, MA  
    02110-1301 USA
-->


<!--
    GridGain Spring configuration file to startup grid with configuration
    for GridJmsDiscoverySpi and GridJmsCommunicationSpi used for node discovery
    and message exchange.

    If using this configuration file to run examples, be sure to add relevant JMS
    libraries to the example classpath and remote node classpath. Also check that
    both nodes use JMS communication and discovery configured the same way.

    When starting a standalone GridGain node, you need to execute the following command:
    {GRIGAIN_HOME}/bin/gridgain.{bat|sh} path-to-this-file/spring-jms.xml

    When starting GridGain from Java IDE, pass path to this file into GridFactory:
    GridFactory.start("path-to-this-file/spring-jms-sunmq.xml");

    Be sure that JMS server is up and running. This configuration uses
    "myjmscomm" topic for message exchange and "myjmsdisco" topic
    for node discovery. These topics are dynamical ones.

    One must provide proper JMS server host and port by setting up
    "imqBrokerHostName" and "imqBrokerHostPort" system properties.

    See SunMQ documentation for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    <!--
        Optional description.
    -->
    <description>
        JMS Spring file for SunMQ v4 grid configuration.
    </description>

    <!--
        Grid configuration bean.
    -->
    <bean id="grid.cfg" class="org.gridgain.grid.GridConfigurationAdapter" scope="singleton">
        <!--
            Uncomment to specify non-default grid instance name.
        -->
        <!--
        <property name="gridName" value="mygrid"/>
        -->

        <!--
            Uncomment the following section if you wish to add local node benchmark
            to user attributes. You can also add any other node attribute specific
            to your application.
        -->
        <!--
        <property name="userAttributes">
            <map>
                <entry key="grid.node.benchmark">
                    <bean class="org.gridgain.grid.benchmarks.GridLocalNodeBenchmark" init-method="start"/>
                </entry>
            </map>
        </property>
        -->

        <!--
            Configuration for GridJmsCommunicationSpi communication SPI.
        -->
        <property name="communicationSpi">
            <bean class="org.gridgain.grid.spi.communication.jms.GridJmsCommunicationSpi">
                <property name="connectionFactory">
                    <bean class="com.sun.messaging.TopicConnectionFactory"/>
                </property>

                <property name="topic">
                    <bean class="com.sun.messaging.Topic">
                        <constructor-arg value="myjmscomm" />
                    </bean>
                </property>
            </bean>
        </property>

        <!--
            Configuration for GridJmsDiscoverySpi discovery SPI.
        -->
        <property name="discoverySpi">
            <bean class="org.gridgain.grid.spi.discovery.jms.GridJmsDiscoverySpi">
                <property name="connectionFactory">
                    <bean class="com.sun.messaging.TopicConnectionFactory"/>
                </property>

                <property name="topic">
                    <bean class="com.sun.messaging.Topic">
                        <constructor-arg value="myjmsdisco" />
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>
